body {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

h3 {
	font-family: 'asap',sans-serif;
	font-style: italic;
	text-align: center;
	color: #ffffff;
	font-size: 4em;
}

h2 {
	font-family: 'asap',sans-serif;
	text-align: left;
	color: #ffffff;
	font-size: 2em;
}

h1 {
	font-family: 'asap',sans-serif;
	text-align: left;
	color: #ffffff;
	font-size: 2em;
}

p {
	font-family: 'asap',sans-serif;
	text-align: left;
	color: #000;
	font-size: 1em;
  line-height: 1;
}
a {
  font-family: 'asap', sans-serif;
  color: #ffffff;
  text-underline-position: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #ef4031;
}
#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width:500px;
	height: 100vh;
	z-index: 10;
  display: inline-block;
  align-content: center;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#sidebar-title {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 10vh;
	padding: 0px;
}

#sidebar-body {
	position: relative;
  align-content: center;
	width: 450px;
	height: 10vh;
	padding: 30px;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  /*cursor: default;*/
	background-color: #000000;
	width: 100vw;	/* 100% of viewport width */
	height: 100vh;	/* 100% of viewport height */
}
/* Modal styles */
#screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    display: none;
}

.bar{
  fill: purple;
}

.bar:hover{
  fill: blue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text { fill: black; }

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: .75em;
  font-family: 'asap', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ef3e2e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
    display: none;
    width: 50vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    padding: 30px;
    font-family: Courier;
}

.modal>.modal-title {
    
}

.modal>.modal-body{
   
}

.modal>.close-button {
    color: #cccccc;
    position:absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background: none !important;
    border: none !important;
    font-size: 30px;
    cursor: pointer;
}

.modal>.close-button:hover {
    color: #bbbbbb !important;
}

.button-default {
    background-color: #555;
    size: 80px;
    padding: 2px 2px;
    border-radius: 3px;
    font-family: 'asap', sans-serif;
    cursor: pointer;
    margin: 5px;
    border: none;
    font-size: 18px;
    z-index: 1;
}

.button-default:hover {
    background-color: #555;
}
.legend-key {
    display: inline-block;
    border-radius:100%;
    width:10px;
    height: 10px;
    margin-right: 5px;
}

#layers-control {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    /*margin-left: 40%;*/
    width: 100px;
}

#layers-control a {
    font-size: 13px;
    color: white;
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    background-color: #555;
}

#layers-control a:last-child {
    border: none;
}

#layers-control a:hover {
    background-color: #aaa;
}

#layers-control a.active {
    background-color: #ef4031;
    color: #ffffff;
}

#layers-control a.active:hover {
    background: #333;
}

#tag-space {
  font-size: .75em;
}

#tag-space a.active {
  background-color: #ef4031;
  color: #ffffff;
}

#tag-space a:hover {
  background-color: #fff;
}

.img {
  vertical-align: center;
}

.navbar-dark{
	background-color: rgba(0, 0, 0, 0.9);
}

.bg-dark{
	background-color: rgba(0, 0, 0, 0.9);
}

.mapboxgl-popup-content {
	font-family: 'asap', sans-serif;
	padding: 10px;
	width: 25vw;
	background-color: rgba(239, 64, 49, 0.9);
}

.mapboxgl-popup-tip {
	border-top-color: rgba(239, 64, 49, 0.9);
}
